<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <a href="/"
        ><button style="display: inline-block" class="circular ui icon button">
          <i class="arrow left icon"></i>
        </button>
      </a>
      <h1 style="display:inline-block">units</h1>

      <% units.forEach((unit) => { %>
      <!-- #2 -->
      <li class="list-group-item">
        <a href="/units/<%= unit.param %>"> <%= unit.name %> </a>
      </li>
      <% }) %>

      <h4 style="margin-top: 10px; display: inline-block">
        Want to contribute something new?
      </h4>
      <a href="/resources/new">
        <button
          style="display: inline-block;"
          class="mini ui green icon button"
        >
          <i class="plus block icon"></i>
        </button>
      </a>

      <ul class="list-group">
        <!-- //shows all resources for admin -->

        <!--
          //shows resources only if authored by user or they are public
          //to see collaborations as premium user, must click on 'see collaborations'
        -->
      </ul>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
