<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/navbar.ejs %>
    <!-- Page Content -->
    <main class="container">
      <% include ./partials/messages.ejs %>

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-5">Welcome to Texas Math Central</h1>
        <p class="lead">
          Designed and created with one goal in mind: to get all the best math
          resources in one location.
        </p>
        <% if(!currentUser){ %>
        <a href="/auth/google" class="btn btn-primary btn-lg"
          >Sign In With Google</a
        >
        <% } else { %>
        <a href="/logout" class="btn btn-primary btn-lg">Sign Out</a> <% } %>
      </header>

      <!-- Page Features -->
      <section class="row text-center" style="width: 100%">
        <h3>Take me to the resources!!</h3>
        <a href="/units/" style="width: 100%;">
          <button
            style="display: inline-block;"
            class="massive fluid ui blue icon button"
            href="/units"
          >
            <i class="folder open outline icon"></i>
          </button>
        </a>
      </section>
      <!-- /.row -->
    </main>
    <!-- /.container -->
    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
