<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <h1>New Resource</h1>

      <form
        action="/resources/create"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="title">Resource Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            aria-describedby="nameHelp"
            placeholder="Enter name"
            required
          />
        </div>
        <div class="form-group">
          <label for="body">Unit</label>
          <select label="unit" name="unit">

            <option value='boy' label='B.O.Y.' />
            <option value='addsub' label='Addition/Multiplication' />
            <option value='APV' label='Area/Perimeter/Volume' />
            <option value='division' label='Long Division'' />
            <option value='prime-composite' label='Prime & Composite Numbers' />
            <option value='graphing' label='Graphing' />
            <option value='decimals' label='Decimals' />
            <option value='geometry' label='Geometry' />
            <option value='fractions' label='Fractions' />
            <option value='expressions-equations' label='Expressions & Equations' />
            <option value='measurement' label='Measurement' />
            <option value='finance' label='Personal Finance' />
            <option value='staar-review' label='STAAR REVIEW!' />
            <option value='random' label='Random' />

            
          </select>
        </div>
        <div class="form-group">
          <label for="body">Type</label>
          <select label="type" name="type">
            <option value="Google Doc" label="Google Doc">Google Doc</option>
            <option value="Google Folder" label="Google Folder"
              >Google Folder</option
            >
            <option value="File" label="File">File</option>
            <option value="Link" label="Just a link!">Just a link!</option>
          </select>
        </div>
        <div class="form-group">
          <label for="body">Link</label>
          <input
            type="text"
            class="form-control"
            name="link"
            placeholder="http://"
            aria-describedby="linkHelp"
          />
          <small
            >If adding a google doc, make sure you get it from Google by
            right-clicking the file, then selecting "Get shareable link"</small
          >
        </div>
        <div class="form-group">
          <label for="body">Description</label>
          <textarea
            name="description"
            class="form-control"
            aria-describedby="descriptionHelp"
            placeholder="Enter description"
          ></textarea>
        </div>
        <div>
          <label>
            Upload File <small>(5MB maximum)</small>
            <div><input type="file" name="file" /></div>
          </label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
